
	
h1 {
	margin:0px 0px 15px 0px;
	padding:0px;
	font-size:28px;
	font-weight:900;
	color:#ccc;
	}
h2 {
	font:bold 12px/14px verdana, arial, helvetica, sans-serif;
	margin:0px 0px 5px 0px;
	padding:0px;
	}
p {
	font:11px/20px verdana, arial, helvetica, sans-serif;
	margin:0px 0px 16px 0px;
	padding:0px;
	}
.Content>p {margin:0px;}
.Content>p+p {text-indent:30px;}

a {
	color:#09c;
	font-size:11px;
	font-family:verdana, arial, helvetica, sans-serif;
	font-weight:600;
	text-decoration:none;
	}
a:link {color:#09c;}
a:visited {color:#07a;}
a:hover {background-color:#eee;}
  

/* All the content boxes belong to the content class. */
.content {
	position:relative; /* Position is declared "relative" to gain control of stacking order (z-index). */
	width:610px;
	min-width:120px;
	margin:1px 0px 20px 180px;
	height:775px;

	background-color:white;
	padding:10px;
	z-index:3; /* This allows the content to overlap the right menu in narrow windows in good browsers. */
	height:400px;
	}
.content img {
	width:610px;
	min-width:600px;
	z-index:3; /* This allows the content to overlap the right menu in narrow windows in good browsers. */
	height:400px;
	
}

/* All the content boxes belong to the content class. */
.content2 {
	margin:-28px 0px 10px 190px;
	padding:10px;
	width:600px;
	z-index:3; /* This allows the content to overlap the right menu in narrow windows in good browsers. */
	}
.content2 img {
	z-index:3; /* This allows the content to overlap the right menu in narrow windows in good browsers. */
}

#newsHeader {
	margin-left:-10px;
	width: 612px;
	height: 30px;
	background-color:#EBEBE6;
	border-top-color:#B0A696;
	border-top-style:solid;
	border-bottom-color:#B0A696;
	border-bottom-style:solid;
	border-left-color:#B0A696;
	border-left-style:solid;
	border-right-color:#B0A696;
	border-right-style:solid;
	border-width:1px;
	border-bottom-width:5px;
	
}

#newsHeader h2 {
	    color: #2785A3;
	    font-family: Arial,sans-serif;
	    font-size: 11pt;
	    margin-left: 5px;
	    padding-top: 7px;	
}

#newsContent {
	margin-left:-10px;
	width: 610px;
	height: 320px;
	background-color:#B0A698;
	margin-top:-1px;
}
#newsContent h3 {
	    background-color: linen;
	    font-family: Arial,sans-serif;
	    font-size: 11pt;
	    margin-left: 0px;
	    margin-top: 1px;
	    padding-left: 5px;
	    padding-top: 3px;
	    width: 607px;
		border-left-color:#B0A696;
		border-left-style:solid;
		border-right-color:#B0A696;
		border-right-style:solid;
		border-width:1px;
}

#newsP1 {
	margin-left:0px;
	margin-top: -15px;
	width: 612px;
	height: 90px;
	background-color:linen;
	border-bottom-color:#B0A696;
	border-bottom-style:solid;
	border-left-color:#B0A696;
	border-left-style:solid;
	border-right-color:#B0A696;
	border-right-style:solid;
	border-width:1px;
}
#newsP1 p{
	    border-bottom-color: #B0A696;
	    border-bottom-style: solid;
	    border-bottom-width: 1px;
	    font-family: Arial,sans-serif;
	    font-size: 9pt;
	    margin-left: 0;
	    margin-top: 1px;
	    padding-left: 5px;
	    padding-top: 3px;
}

#newsP1 img{
	float:right;
	margin-top:-8px;
	margin-right:1px;
}
#newsP2 {
	margin-left:0px;
	margin-top: -7px;
	width: 612px;
	height: 216px;
	background-color:linen;
	border-bottom-color:#B0A696;
	border-bottom-style:solid;
	border-left-color:#B0A696;
	border-left-style:solid;
	border-right-color:#B0A696;
	border-right-style:solid;
	border-width:1px;
}
#newsP2 p{
	font-family: Arial,sans-serif;
    font-size: 9pt;
    margin-left: 0px;
    margin-top: -7px;
    padding-left: 5px;
    padding-top: 0px
}


#banner{
	width:602px;
	height:90px;
	margin-left: 0px;
    margin-top: -25px;
    padding-left: 0px;
    padding-top: 3px
}

#newsP2 h3{
	font-family: Arial,sans-serif;
    font-size: 11pt;
    margin-left: -1px;
    margin-top: 0px;
    padding-left: 5px;
    padding-top: 7px
}

#navBeta {
	position:absolute;
	width:155px;
	top:82px;
	right:0px;
    height: 780;
	background-color: transparent;
	background: url('../images/aside_h.png') repeat-x scroll 0 100% transparent;
	padding:0px;
	z-index:1;
	height: 775px;
	border: none;
	border-image: initial;
/* Again, the ugly brilliant hack. */
	voice-family: "\"}\"";
	voice-family:inherit;
	width:155px;
	height: 775px;
	border: none;
	border-image: initial;
	}
/* Again, "be nice to Opera 5". */
body>#navBeta {width:168px;}

#navBeta aside ul li {
list-style-type: none;
padding-bottom: 5px;
margin-bottom: 5px;
background: url('../images/aside_h.png') repeat-x scroll 0 100% transparent;
font-weight: bold;
color: #666;
padding-left: 15px;
}

aside h2#nav, aside h2#contact, aside h2#areas {
background-color: #558BC9;
margin-top: 0;
padding-top: 5px;
padding-bottom: 5px;
margin-bottom: 0;
padding-left: 7px;
}

aside h2 {
margin: 10px 10;
font-size: 15px;
line-height: 20px;
color: white;
background: url('../images/glo_bnr_fade_blu.gif') repeat-x scroll 0 100% transparent;

}

aside h3 {
height: 46px;
line-height: 46px;
margin: 0 0 0 0;
display: block;
text-indent: -9999px;
background-repeat: no-repeat;
width: 210px;
overflow: hidden;
}

aside h3#phone2 {
background-image: url('../images/icon_phonea.gif');
}

aside h3#phone1 {
background-image: url('../images/icon_phone.gif');
}

aside h3#email {
background-image: url('../images/icon_mail.gif');
}

