#careerContainer form {
font-family: "Tahoma", "Geneva", sans-serif;
color: #929292;
padding: 10px;
width: 400px;
height:250px;
border:solid 2px;
}

#careerContainer input {
	border: 1px solid #929292;
	color: #505050;
	-webkit-box-shadow: #e3e3e3 0.1em 0.1em 0.2em;
	box-shadow: #e3e3e3 0.1em 0.1em 0.2em;
	-moz-box-shadow: #e3e3e3 0.1em 0.1em 0.2em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-border-radius: 5px;
	-khtml-border-radius: 5px;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	padding: 10px;
	margin-top:20px;
	margin-left:20px;
}

#careerContainer fieldset {
border: 1px solid #929292;
padding: 0;
padding-left: -1px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-border-radius: 5px;
-khtml-border-radius: 5px;
}

}
#careerContainer label {
width: 100px;
text-align: right;
display: block;
float: left;
margin-right: 10px;
text-transform: capitalize;
line-height: 33px;
}


#careerContainer button, input[type=submit] {
border: 1px solid #929292;
color: #505050;
-webkit-box-shadow: #e3e3e3 0.1em 0.1em 0.2em;
box-shadow: #e3e3e3 0.1em 0.1em 0.2em;
-moz-box-shadow: #e3e3e3 0.1em 0.1em 0.2em;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-border-radius: 5px;
-khtml-border-radius: 5px;
background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
padding: 10px;
margin-left:60px;
}


careerContainer input {
margin-top:40px;
position: relative;
top: 1px;
}

}
#careerContainer select {
border: 1px solid #929292;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-border-radius: 3px;
-khtml-border-radius: 3px;
color: #505050;
-webkit-box-shadow: #e3e3e3 0.1em 0.1em 0.2em;
box-shadow: #e3e3e3 0.1em 0.1em 0.2em;
background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
position: relative;
top: 6px;
height: 20px;
}