body {
background-color: white;
font-family: Arial, Sans-serif;
font-size: 10pt;
color: black;
margin: 0px;
padding: 0px;
}

#mainContainer
{
	width:970px;
	margin:0 auto;
	padding:0;
}

#headerContainer {
max-width: 970px;
min-width: 970px;
margin: 0px;
padding: 0px;
background-position: top left;
background-repeat: repeat-x;
margin-top:-65;
background-image: url(../images/glo_bnr_fade_blu.gif);
height: 71px;
}

#logo {
position: static;
top: 5px;
margin: 0;
background-color: #300;
border: 0px none;
height: 65px;
left: 0px;
margin: 0px;
padding: 0px;
width: 149px;
border-image: initial;
}


#logo img {
border-width: 0px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
padding-left:15px;
}

.navHeader h1{
	width:500px;
	margin-top:-65px;
	margin-left:160px;
	color:white;
	
}

a {
color: #a90329;
}

element.style {
clear: both;
}

#nav1Bar {
position: absolute;
top: 0px;
left: 170px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
padding: 0px;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 150px;
width: 800px;
height: 75px;
z-index: 1000;
}

.navSearch {
	margin:-68px 30px 0px;
	color:white;
	display:inline;
	}

.navSearch .btn_a {
	width:20px;
	border:none;
	position:absolute;
	background-color:#EBEBE6;
	background-image:url(../images/icn_arw_brn.gif);
	background-position:center;
	padding:0;
	}


.navLogin {
	margin:8px 0px 0px;
	display:inline;
	white-space:nowrap;
	padding:0px;
	}





